Django
channels
daphne

Pillow
xlrd
openpyxl
djangorestframework
xhtml2pdf
fpdf
caldav

radicale
XlsxWriter
black
flake8
bandit
radon
pylint
safety
coverage
pytest
pytest-django
flake8-html
flake8-visualize
python-markdown-math
cryptography