Django
channels
daphne

Pillow
xlrd
openpyxl
djangorestframework
xhtml2pdf
fpdf
caldav

radicale
XlsxWriter
black
flake8
bandit
radon
pylint
safety
coverage
pytest
pytest-django
flake8-html
pandas
python-docx
python-markdown-math
cryptography
django-debug-toolbar
