Django
channels
daphne
google-generativeai
Pillow
xlrd
openpyxl
djangorestframework
xhtml2pdf
fpdf
caldav
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
radicale
XlsxWriter
black
flake8
bandit
radon
pylint
safety
coverage
pytest
pytest-django
flake8-html
flake8-visualize
python-markdown-math
cryptography